{% extends 'base.html' %} {% load static %}{% block page_content %}
<link href="{% static 'css/main.6dea0f05.chunk.css' %}" rel="stylesheet" />
<form
  id="lyricsform"
  name="lyricsform"
  action="/ppt_create/lyrics"
  method="post"
>
  <textarea class="form-control" id="lyrics" name="lyrics"></textarea>
  {% csrf_token %}
  <div class="form-group">{{ form.body }}</div>
</form>
<div>
  <button id="submit-button" class="btn btn-primary">제출</button>
</div>
<script src="{% static  'js/main.f9419b16.chunk.js' %}"></script>
{% endblock page_content %}
